<div id="<%= dom_id seance %>">
  <p>
    <strong>Movie:</strong>
    <%= seance.movie.name %>
  </p>

  <p>
    <strong>Hall:</strong>
    <%= seance.hall.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= seance.price %>$
  </p>

  <p>
    <strong>Start:</strong>
    <%= seance.starts_at %>
  </p>

  <p>
    <strong>End:</strong>
    <%= seance.finishes_at %>
  </p>
</div>
