<div class="card w-75 my-3 m-auto border-0">
<h1>Reservations</h1>
<p style="color: green"><%= notice %></p>
<%= button_to "Create reservation", new_seance_reservation_path(@seance.id), method: :get, class: 'btn btn-primary'  %>
</div>

<table class="table table-hover w-75 mx-auto">
  <thead>
    <tr>
      <th scope="col">Reservation id</th>
      <th scope="col">E-mail</th>
      <th scope="col">Status</th>
      <th scope="col">Update status</th>
    </tr>
  </thead>
  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.id %></td>
        <td><%= reservation.email %></td>
        <td><%= reservation.status %></td>
        <td>
          <%= button_to "Update", edit_seance_reservation_path(@seance, reservation), method: :get, class: 'btn btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
